@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  font-family: $base-font-family;
  background-color: #fafafa;
  color: $base-font-color;
}

.application {
  display: block;
  height: 200px;
  width: 400px;
  margin: 0 auto;
  padding-top: 85px;
  border: 2px solid aqua;
  background-color: gray;
}

.login-form {
  padding-left: 100px;

}

h1 {
  margin-left: 100px;
}
